.drawer {
    //position: fixed;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    width: 280px;
    background-color: $color-white;
    //transform: translateX(100%);
    transition: .2s all;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 20px 18px;
    #links {
        a {
            line-height: 22px;
        }
    }
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        margin-bottom: 10px;
        svg * {
            fill: $colorGreyDark;
        }
    }
    &__attachments {
        font-family: $fontSerif;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
        a {
            line-height: 22px;
            color: $color-black;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            padding-left: 26px;
            &::before {
                content: "";
                height: 22px;
                width: 20px;
                position: absolute;
                left: 0;
                top: 2px;
                background: url("/assets/icon-download-dark.svg") no-repeat;
            }
            &.direct-link {
                margin-top: auto;
            }
        }
    }

    @at-root .drawer-open & {
        transform: translateX(0);

    }
}